
nav{
    padding: 0 8px;
    height: 72px;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 24px;
    font-weight: 500;
  }